::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
}
@font-face {
  font-family: "Nickelodeon 2001 Headline";
  src: url("../src/fonts/nickelodeon2001headline.ttf") format("truetype");
}
body{
  background-color: #2C2C2D;
  position: relative;
  font-size: 14px;
  font-family: "Nickelodeon 2001 Headline";
}
.ymaps-2-1-79-ground-pane {
	filter: grayscale(1) invert(85%);
	-ms-filter: grayscale(1) invert(85%);
	-webkit-filter: grayscale(1) invert(85%);
	-moz-filter: grayscale(1) invert(85%);
	-o-filter: grayscale(1) invert(85%);
}
span{
  font-size: 14px;
}
.main{
  width: 100%;
  height: 100vh;
  background-color: #2C2C2D;
}
.blok-car{
  width: 23.6%;
  height: 100vh;
  border-right: 1px solid #A3A3A3;
  background: #363636;
  z-index: 10;
  position: absolute;
  box-shadow: 12px 14px 51px rgba(0, 0, 0, 0.25);
}
.header{
  z-index: 8;
  width: 3%;
  bottom: 3%;
  right: 1.5%;
  height: 6%;
  position: absolute;
  box-shadow: 12px 14px 51px rgba(0, 0, 0, 0.25);
  display: flex;
}
.btn-one{
  width: 100%;
  border-radius: 100px;
  opacity: 1;
  right: 0;
  height: 100%;
  background-color: #F3BB2B;
}
.btn-two{
  width: 100%;
  border-radius: 100px;
  opacity: 1;
  right: 0;
  height: 100%;
  background-color: #F3BB2B;
}
.map{
  position: absolute;
  z-index: 5;
  width: 76.4%; 
  height: 100vh;
  right: 0;
}
.ymaps-layers-pane {
	filter: brightness(50%);
	-ms-filter: brightness(50%);
	-webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);   
	-o-filter: brightness(50%);  
}
.name-site{
  display: flex;
}
.text-logo{
  font-family: 'Nickelodeon 2001 Headline';
}
.logo{
  width: 70%;
  margin-left: 5%;
  margin-top: 4%;
}
.tabel-car{
  width: 90%;
  height: 70vh;
  margin-left: 17px;
}
.border{
  margin-top: 10px;
}
.tabel-block-car{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
input{
  font-size:14px;
  color: #A3A3A3;
  font-family: "Nickelodeon 2001 Headline";
}
.taxt-tebel-car{
  font-size:14px;
  color: #A3A3A3;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  line-height: 30px;
}
.tabel-block-car{
  width: 100%;
  height: 88%;
  overflow: auto;
}
.sertch-panel{
  margin-top: 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  background-color: #2C2C2D;
  height: 37px;
  border-radius: 100px;
  border: 1px solid #A3A3A3;
}
.ymaps-2-1-79-searchbox__normal-layout:after{
  box-shadow: none !important;
}
.ymaps-2-1-79-searchbox-input{
  border-top: 1px solid #A3A3A3 !important;;
  border-left: 1px solid #A3A3A3 !important;;
  border-bottom: 1px solid #A3A3A3 !important;;
  width:100% !important;
  height: 37px!important;
  border-radius: 100px 0px 0px 100px !important;
  padding-left: 10px !important;
  background-color: #2C2C2D !important;
}
.ymaps-2-1-79-searchbox-input__input{
  height: 94% !important;
  color: #2C2C2D !important;
  font-family: "Nickelodeon 2001 Headline" !important;
}
.ymaps-2-1-79-search__suggest-item_selected_yes{
  background-color: #363636 !important;
  border-radius: 2px !important;
}
.ymaps-2-1-79-search__suggest-item{
  border-radius: 5px !important;
}
.ymaps-2-1-79-controls__control{
  filter: grayscale(1) invert(85%);
	-ms-filter: grayscale(1) invert(85%);
	-webkit-filter: grayscale(1) invert(85%);
	-moz-filter: grayscale(1) invert(85%);
	-o-filter: grayscale(1) invert(85%);
}
.ymaps-2-1-79-search__suggest{
  width: 123.5% !important;
  border-radius: 10px;
  border: 1px solid #A3A3A3 !important;
  background-color: #2C2C2D !important;
  color: #A3A3A3 !important;
  margin-top: 5px;
}
.ymaps-2-1-79-searchbox-button{
  border-top: 1px solid #A3A3A3 !important;;
  border-right: 1px solid #A3A3A3 !important;;
  border-bottom: 1px solid #A3A3A3 !important;;
  background-color: #2C2C2D !important;
  border-radius: 37px !important;
  height: 37px !important;
}
.ymaps-2-1-79-searchbox-input__clear-button{
  display: none !important;
}
input, textarea, select {
  -webkit-appearance: none;
  outline: none;
  border: 1px solid #A3A3A3;
  padding: 0;
  margin: 0;
}

.ymaps-layers-pane {
	filter: invert(100%) !important;
	-ms-filter: invert(100%) !important;
	-webkit-filter: invert(100%) !important;
	-moz-filter: invert(100%) !important;
	-o-filter: invert(100%) !important;
}
.ymaps-2-1-79-_focused {
  box-shadow: none !important;
  outline: none !important;
  border-top: 1px solid #A3A3A3 !important;;
  border-left: 1px solid #A3A3A3 !important;;
  border-bottom: 1px solid #A3A3A3 !important;;
}
.ymaps-2-1-79-searchbox-input__input[placeholder]{
  color: #A3A3A3 !important;
}
.BlockCar{
  background-color: #F3BB2B;
  width: 143px;
  border-radius: 9px;
  height: 143px;
}
@media (min-width: 1500px){
  .BlockCar{
    background-color: #F3BB2B;
    width: 163px !important;
    border-radius: 9px;
    height: 163px !important;
  }
}
@media (min-width: 1400px){
  .BlockCar{
    background-color: #F3BB2B;
    width: 143px;
    border-radius: 9px;
    height: 143px;
  }
}
@media (max-width: 1400px){
  .BlockCar{
    background-color: #F3BB2B;
    width: 123px;
    border-radius: 9px;
    height: 123px;
  }
}
.image-car{
  width: 92.2%;
  height: 70%;
  margin: 0% 4% 0% 4%;
  display: block;
  padding-top: 10px;
}
.namber{
  font-size: 130%;
  padding-bottom: 5%;
  font-family: 'Nickelodeon 2001 Headline';
  line-height: 10px;
}
.block-car-btn{
  text-align: center;
  padding-bottom: 10%;
}
.rast-blok{
  margin-bottom: 5%;
}
.serthc-position{
  position: absolute;
  z-index: 6;
  left: 25%;
}
.btn-histori{
  width: 55%;
  height: 37px;
  cursor: pointer;
  border: 1px solid #A3A3A3;
  border-radius: 37px;
  background-color: #2C2C2D;
}
.actv{
  width: 50% !important;
}
.diss{
  width: 37% !important;
}
.text-actv{
  font-size: 13px !important;
  color: #A3A3A3 !important;
  margin-top: 7px !important;
}
.text-diss{
  font-size: 13px !important;
  color: #2C2C2D !important;
}
.text-actv2{
  font-size: 13px !important;
  color: #2C2C2D !important;
}
.text-actv15{
  margin-right: 18px !important;
}
.text-actv3{
  font-size: 13px !important;
  color: #A3A3A3 !important;
}
.status-active{
  background-color: #A3A3A3 !important;
  color: #2C2C2D !important;
}
.status-dis{
  background-color: #A3A3A3 !important;
  color: #2C2C2D !important;
  font-size: 18px !important;
}
.btn-filter{
  width: 33%;
  height: 37px;
  cursor: pointer;
  border: 1px solid #A3A3A3;
  border-radius: 37px;
  margin-right: 20px;
  background-color: #2C2C2D;
}
.btn-text{
  margin-top: 10px;
  float: right;
  font-size: 10.5px;
  margin-right: 13.2px;
}
.btn-blok{
  justify-content: space-between;
  color: #A3A3A3;
  margin-left: 17px;
  width: 300px;
  display: flex;
  margin-top: 15px;
}
.tabel-block-car-position{
  width: 98%;
  justify-content: space-between;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.sertch-icon{
  position: absolute;
  z-index: 6;
  top: 19px;
  left: 290px;
  height: 18px;
}
.ymaps-2-1-79-searchbox-button-text{
  color: #2C2C2D;
}
.sertch-btn{
  width: 15%;
}
.histori-icon{
  width: 22px;
  margin-top:7px;
  margin-left: 8px;
}
.filter-icon{
  width: 19px;
  margin-top:7px;
  margin-left:10px;
}
.filter-status-car{
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
  height: 37px;
  background-color: #2C2C2D;
  border: 1px solid #A3A3A3;
  color: #A3A3A3;
  font-size: 11px;
  border-radius: 20px;
  font-family: "Nickelodeon 2001 Headline";
}
.filter-status-car-active{
  height: 135px;
  position: absolute;
  overflow:hidden;
}
.item-status-car-none{
  display: block !important;
}
.ui-filter{
  display: none;
  list-style-type: none;
  margin-top: 37px;
}
.item-status-car{
  margin-left: -37px;
  margin-top: 12px;
}
.tabel-block-car-hid{
  overflow:hidden;
}
.item-info{
  text-align: center;
  margin-top: 11px;
  font-size: 10px;
}
.none{
  display: none;
}
.block{
  display:block !important;
}
.black{
  background-color: #2C2C2D;
}
.text-color{
  color: #A3A3A3;
}
.login-panel{
  width: 350px;
  height: 100vh;
  margin: auto;
}
.logo-login{
  width: 100%;
  margin-top: 50px;
}
.panel-login{
  width: 100%;
  background-color: #192028;
  height: 250px;
  border-radius: 15px;
  box-shadow: 5px 4px 18px rgba(0, 0, 0, 0.25);
  margin-top: 100px;
}
.blok-login{
  padding-top: 10px;
  display: block;
  width: 300px;
  margin: auto;
}
.input-logo{
  width: 290px;
  height: 37px;
  background-color: #192028;
  border: 1px solid #A3A3A3;
  border-radius: 37px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.btn-logo{
  width: 150px;
  height: 37px;
  text-align: center;
  background-color: #F3BB2B;
  border: none;
  border-radius: 37px;
  margin-bottom: 10px;
  font-size: 14px;
  display: block;
  margin: auto;
  margin-top: 10px;
  font-family: "Nickelodeon 2001 Headline";
}
.ymaps-2-1-79-search__suggest-item{
  font-family: "Nickelodeon 2001 Headline";
}
.text-logo-login-panel{
  padding-top: 15px;
  display: flex;
}
.logi-image{
  width: 60px;
  margin-left: 15px;
}
.logi-text{
  color: #A3A3A3;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 23px;
}
.info-bloc-car{
  position: absolute;
  width:72%;
  display: none;
  height:90%;
  background-color: #2C2C2D;
  border-radius: 20px;
  z-index: 10;
  right: 2%;
  top: 4%;
}
.block-black{
  z-index: 9;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2C2C2D;
  opacity: 0.7;
}
.text-histori{
  color: #A3A3A3;
  font-size: 10.4px;
  text-decoration: none;
}
a{
  text-decoration: none;
}
.ymaps-2-1-79-float-button{
  display: none !important;
}
.ymaps-2-1-79-zoom{
  display: none !important;
}
.ymaps-2-1-79-controls__toolbar_right{
  display: none !important;
}
.ymaps-2-1-79-map-copyrights-promo{
  display: none;
}
.ymaps-2-1-79-copyright{
  display: none !important;
}
.loader {
  width: 40px;
  height: 40px;
  position: relative;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25%;
}
.loader-position{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 12;
  background-color: #2C2C2D;
}
.bounce1{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #A3A3A3;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2s infinite ease-in-out;
}
.bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #363636;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2s infinite ease-in-out;
}

.bounce2 {
  animation-delay: -1s;
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.ymaps-2-1-79-map{
  position: absolute !important;
}
.btn-map{
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  z-index: 6;
  cursor: pointer;
}
.poligon{
  display: none;
  opacity: 0 !important;
}
.map2{
  display: block;
}
.opMap{
  display: none !important;
}
.info-block-conteiner{
  position: absolute;
  width: 76.3%;
  height: 100vh;
  right: 0;
}
.info-prise{
  width: 100%;
  height: 70px;
  background-color: #363636;
  border-radius: 10px;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.item-info-prise{
  text-align: center;
  height: 70px;
  padding-top: 22px;
  color: #A3A3A3;
}
.adres{
  width: 600px;
}
.namber-prise{
  width: 100px;
}
.prise{
  width: 60px;
}
.table-block-info{
  padding-left: 10px;
  padding-right: 10px;
}
.table-block-info{
  overflow: auto;
  height: 85vh;
}
.type-name-info{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.type-conteiner{
  padding: 10px;
  border-bottom: 1px solid #363636;
  margin-bottom: 10px;
}
.type-info{
  color: #A3A3A3;
  font-size: 10px;
  text-align: center;
}
.date{
  margin-top: -7px;
}
#devMap{
  display: flex;
}
.color{
  width: 30px;
  z-index: 111;
  height: 30px;
  background-color: #A3A3A3;
  border-radius: 30px;
}
.color-map{
  display: flex;
  width: 88%;
  margin: auto;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  justify-content: space-between;
}
.prise250{
  background-color: #FFFF00;
}
.prise350{
  background-color: #04ff00;
}
.prise500{
  background-color: #00b3ff;
}
.prise750{
  background-color: #ff00c8;
}
.prise1000{
  background-color: #f70000;
}
.prise250-spoler{
  width: 50px;
  font-size: 11px;
  color: #A3A3A3;
  text-align: center;
  padding-top: 5px;
  height: 20px;
  display: none;
  position: absolute;
  background-color: #2C2C2D;
  border: 1px solid #A3A3A3;
  margin-top: -35px;
  margin-left: -10px;
}
.prise350-spoler{
  font-size: 11px;
  color: #A3A3A3;
  text-align: center;
  width: 50px;
  padding-top: 5px;
  height: 20px;
  display: none;
  position: absolute;
  background-color: #2C2C2D;
  border: 1px solid #A3A3A3;
  margin-top: -35px;
  margin-left: -10px;
}
.prise500-spoler{
  font-size: 11px;
  color: #A3A3A3;
  text-align: center;
  width: 50px;
  padding-top: 5px;
  height: 20px;
  display: none;
  position: absolute;
  background-color: #2C2C2D;
  border: 1px solid #A3A3A3;
  margin-top: -35px;
  margin-left: -10px;
}
.prise750-spoler{
  font-size: 11px;
  color: #A3A3A3;
  text-align: center;
  width: 50px;
  padding-top: 5px;
  height: 20px;
  display: none;
  position: absolute;
  background-color: #2C2C2D;
  border: 1px solid #A3A3A3;
  margin-top: -35px;
  margin-left: -10px;
}
.prise1000-spoler{
  font-size: 11px;
  color: #A3A3A3;
  text-align: center;
  width: 50px;
  padding-top: 5px;
  height: 20px;
  display: none;
  position: absolute;
  background-color: #2C2C2D;
  border: 1px solid #A3A3A3;
  margin-top: -35px;
  margin-left: -10px;
}
.name-page-dunload{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.name-page{
  font-size: 17px;
  color: #A3A3A3;
}
.img-dow{
  fill: #A3A3A3;
  width: 30px;
  cursor: pointer;
  height: 30px;
}
.nameDR{
  width: 150px !important;
}
.inpt-date-time{
  padding: 10px 20px 10px 20px;
  display: flex;
  background-color: #363636;
  border: 1px solid #A3A3A3;
  border-radius: 30px;
  align-items: center;
}
.inpt-date{
  background-color: #363636;
  border: 0;
}
.inpt-time{
  background-color: #363636;
  border: 0;
}
.data-ot-do{
  color: #A3A3A3;
  font-size: 14px;
}